<!DOCTYPE html>
<html>
<head>
    <title>Flapper News</title>
    <!-- Fonts START -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->

    <!-- Global styles START -->          
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global styles END --> 

    <!-- Theme styles START -->
    <link href="/stylesheets/components.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- <link href="../../assets/frontend/pages/css/style-revolution-slider.css" rel="stylesheet"> --><!-- metronic revo slider styles -->
    <link href="/stylesheets/style-responsive.css" rel="stylesheet">
    <link href="/stylesheets/theme/red.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <!-- Theme styles END -->
</head>

<body ng-app="flapperNews" class="corporate">
    <!-- BEGIN TOP BAR -->
    <ng-include src="'/partial/pre-header.html'"></ng-include>
    <!-- END TOP BAR -->

    <!-- BEGIN HEADER -->
    <div class="header"></div>
    <!-- END HEADER -->
    <ui-view></ui-view> 

<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>

<script src="/javascripts/back-to-top.js"></script>
<script src="/javascripts/angularApp.js"></script>

<script type="text/ng-template" id="/posts.html">
    <div class="page-header">
        <h3>
            <a ng-show="post.link" href={{post.link}}>
                {{post.title}}
            </a>
            <span ng-hide="post.link">
                {{post.title}}
            </span>
        </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" 
            ng-click="incrementUpvotes(comment)"></span>
        {{comment.upvotes}} - by {{comment.author}}
        <span style="font-size:20px; margin-left:10px;">
            {{comment.body}}
        </span>
    </div>

    <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="#!/login">Log In</a> or <a href="#!/register">Register</a> before you can comment.</h3>
    </div>

    <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top:30px;">
        <h3>Add a new comment</h3>
        <div class="form-group">
            <input type="text" class="form-control" onEnter: ['$state', 'auth', function($state, auth) {
                if (auth.isLoggedIn()) {
                    $state.go('home');
                }
            }]
                placeholder="Comment" ng-model="body">
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
</script>

</body>
</html>