<div class="pre-header" ng-controller="NavCtrl">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    <li><i class="fa fa-skype"></i><span>ChenCristal</span></li>
                    <li><i class="fa fa-envelope-o"></i><span>chencristal2014@gmail.com</span></li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->

            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    <li ng-show="isLoggedIn()"><a> Welcome {{ currentUser() }} </a></li>
                    <li ng-show="isLoggedIn()"><a href="javascript:;" ng-click="logOut()">Log Out</a></li>
                    <li ng-hide="isLoggedIn()"><a href="#!/login">Log In</a></li>
                    <li ng-hide="isLoggedIn()"><a href="#!/register">Registration</a></li>
                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>        
</div>